snippet comment "fancy comment section"
=============================================
=== 
=============================================
endsnippet

snippet header "fancy header section"
============================================================
=== Description ...: 
=== Author ........: Mike Boiko
============================================================
endsnippet
